$color-main: #0086b3;
$color-accent: #4dd2ff;
$color-dark: #00384d;
$color-dark-highlighted: #005e80;
$color-darkest: #00131a;
$color-muted: #aaa;
$color-facebook: #3b5998;
$color-twitter: #00acee;
$shadow-card: 3px 3px 5px 3px rgba(0, 0, 0, 0.5);
$shadow-focus-white: 0 0 0 2px #fff;
$shadow-focus-black: 0 0 0 2px #000;
/*************************************

Base Styles

**************************************/
*, a, h2, h3, li, input {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px
}

body {
    background-color: $color-darkest
}

a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.card {
    box-shadow: $shadow-card;
}


/*************************************

Grid Main Layout

**************************************/

.side-nav {
    grid-area: side-nav;
}

.social-media-list {
    grid-area: social-media-list;
}

.facebook {
    grid-area: facebook;
}

.twitter {
    grid-area: twitter;
}

.sign-in {
    grid-area: sign-in;
}

.newsletter {
    grid-area: newsletter;
}

.credits {
    grid-area: credits;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns:  2fr 2fr 3fr 3fr 3fr;
    grid-template-areas:
        "side-nav            side-nav        .       .        ."
        "social-media-list   facebook        .       .        ."
        "social-media-list   twitter         .       .        ."
        "sign-in             sign-in         .       .        ."
        "newsletter          newsletter      .       .        ."
        "credits             credits       credits  credits  credits";

    margin: 20px;
    background-color: $color-darkest
}

/*************************************

Top Nav Bar

**************************************/

.top-nav,
.top-nav-left ul,
.top-nav-right,
.top-nav-right ul, {
    display: flex;
}

.top-nav {
    z-index: 1;
    position: fixed;
    top:-64px;
    width: 100%;
    height: 64px;
    padding: 0 24px 0 24px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    &-left li,
    &-right > * {
        margin-right: 12px;
    }
    svg {
        height: 25px;
        width: 25px;
        margin: 0 5px;
    }
    path,
    polygon {
        fill: $color-muted;
    }
    a:hover path,
    a:hover polygon {
        fill: $color-main;
    }
    .top-site-links a{
        color: $color-muted;
        &:hover {
            color: $color-main;
        }
    }
    .top-nav-social {
        border-right: 1px solid $color-muted;
        border-left: 1px solid $color-muted;
    }
    input {
        border: none;
        height: 25px;
        background: url(../images/search.svg) no-repeat;
        background-size: 20px 20px;
        background-position: right center;


    }
}


/*************************************

Side Nav Bar

**************************************/

.side-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-links {
        grid-column: 1/span 1;
    }
    &-accordian {
        grid-column: 2/span 1;
        
    }
}


.side-nav-accordian {
    display: flex;
    flex-direction: column;
}

.side-nav-links {
    background-color: #fff;
}

.site-links {
    li {
        height: 40px;
    }
}

.accordian-item {
    background-color: $color-dark;

    padding: 24px;
    overflow: hidden;
    flex-grow: .001;
    flex-basis: 68px;
    transition: all 200ms linear;
    &.active {
        background-color: $color-dark-highlighted;
        padding: 24px;
        flex-grow: 1;
    }
    &-header {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        padding-top: 24px;
        opacity: 0;
        color: #fff;
        transition: all 400ms ease-in;
    }
    li {
        padding-bottom: 4px;
    }
    a {
        font-weight: 700;
        color: $color-accent;
    }
    &.active ul {
        opacity: 1;
    }
    button {
        height: 25px;
        width: 25px;
        border: none;
        border-radius: 50%;
        background-color: $color-accent;
        transform: rotate(0);
        transition: transform 200ms linear;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
            box-shadow: $shadow-focus-white;
        }
        img {
            width: 7px;
        }
    }
    &.active button {
        transform: rotate(90deg);
    }
}


.site-links{ 
    li {
        height: 48px;
    }
    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 24px;
        height: 48px;
        border-bottom: 1px solid $color-muted;
        &:hover {
            background-color: $color-accent;
            color: white;
            path,
            polygon {
                fill: #fff;
            }
        }
    }
    svg {
        height: 25px;
        width: 25px;
        margin-right: 16px;
    }
}

.contact-links {
    background-color: $color-muted;
    color: #fff;
    li {
        display: flex;
        min-height: 60px;
        align-items: center;
        padding-left: 24px;
    }
    img {
        width: 25px;
        height: 25px;
        margin-right: 16px;
    }
}

/*************************************

Social Media List

**************************************/

.social-media-list {
    padding: 24px;
    background-color: #fff;
    a {
        color: $color-muted;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        &:hover path{
            fill: $color-main;
        }
        &:hover {
            color: $color-main;
        }
    }
    svg {
        margin-right: 16px;
        height: 25px;
        width: 25px;
    }
}

/*************************************

Social Media List

**************************************/

@keyframes draw {
	to{
		stroke-dashoffset: 0;
	}
}

.social-media-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    color: #fff;
    img {
        height: 40px;
        width: 40px;
    }
    button {
        margin-left: 16px;
        height:30px;
	    width:30px;
	    border-radius: 50%;
	    background-color: transparent;
        border: 2px solid #fff;
        &:focus {
            outline: none;
            box-shadow: $shadow-focus-black;
        }

    }
    polyline {
        fill: none;
        stroke-width: 2px;
        stroke: #fff;
        stroke-dasharray: 30;
	    stroke-dashoffset: 30;
    }
    button.active polyline {
        animation: draw 200ms alternate forwards linear;
    }
    .is-following {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 20px;
            font-weight: 700;
            float: left;
        }
        div:last-of-type {
            display: flex;
            align-items: center;
        }
    }
}

.facebook {
    background-color: $color-facebook;
    button {
        background-color: $color-facebook;
    }
}

.twitter {
    background-color:$color-twitter;
    button {
        background-color: $color-twitter;
    }
}


/*************************************

Sign In

**************************************/

.sign-in {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
    h2 {
        font-size: 32px;
    }
    img {
        height: 30px;
        width: 30px;
        transition: all 200ms ease;
    }
    .sign-in-icons ul {
        display: block;
        min-width: 125px;
        display: flex;
        justify-content: space-between;
    }
    a:hover img {
        transform: scale(1.1);
    }
}

/*************************************

Newsletter

**************************************/

.newsletter {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
    h2 {
        font-size: 32px;
    }
    input {
        height: 40px;
    }
    .submit {
        height: 40px;
        margin-left: 8px;
        border: none;
        color: #fff;
        background-color: $color-main;
        transition: all 200ms ease;
        &:hover {
            cursor: pointer;
            background-color: $color-accent;
        }
    }
}

/*************************************

Credits

**************************************/

.credits {
    padding: 24px;
    text-align: center;
    background-color: #fff;
    color: $color-muted;
    a {
        color: $color-main;
    }
}